.caixa{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(45deg,black,rgb(226, 7, 255));
   height: 600px;
   width: 300px;
   margin-left: 22px;
   border-color: black;
   border-radius: 25px;
   margin-top: 25%;
   
}

.fundo{
    background: black;
    margin-right: 500px;
    margin-left: 400px;
    width: 336px;
    height: 620px;
    border-radius: 35px;
    position: relative;;
    
}


.caixaImg{
    border-radius: 100%;
    background: linear-gradient(45deg,rgb(216, 6, 86),rgb(206, 0, 206));
    margin-left: 70px;
    width: 150px;
    height: 150px;
    
}
.img1{
   
    width: 150px;
    height: 150px;
}


.titulo{
    font-size: 35px;
    color: rgb(223, 209, 209);
    margin-left: 58px;
    margin-top: 20px;
    
}
.butao1{
  margin-left: 50px;  
  border-radius: 100px;
  background: linear-gradient(45deg,rgb(143, 19, 132),rgb(248, 42, 180));
  border-color: rgb(247, 9, 207);
  box-shadow: 250px;
  font-size: 20px;
  
}
.butao2{
    margin-left: 50px;  
    margin-top: 15px;
    border-radius: 100px;
    background:linear-gradient(45deg,rgb(77, 7, 71),rgb(248, 42, 180));
    border-color: rgb(247, 9, 207);
    box-shadow: 250px;
    font-size: 15px;
}

.icone{
    height: 20px;
    width: 30px;
}


